<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>


<body>
    <!--navbar of bootstrap-->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #5091a5;">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">글쓰기</a>
            <a class="nav-item nav-link" href="#">Pricing</a>
            <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </div>
        </div>
      </nav>

    <br>
    <!--blog objects-->
    {%for b in blogs.all%}
        <div class="container">
            <div class="card">
                <div class="card-body">
                <h4 class="card-title">{{b.title}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{b.pub_date}}</h6>
                <p class="card-text">{{b.summary}}</p>
                <a href="{% url 'detail' b.id %}">...더보기</a>
                </div>
            </div><br>
        </div>
    {%endfor%}
</body>
</html>